/* .App {
  text-align: center;
  background-image: url("./assets/food_image.jpg");
  height: 500px;
  width: 100%;
  top: 0;
} */

.food-image{
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  height: 700px;
  width: 100%;
  top: -20px;
}