body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.log-in{
  text-decoration: none;
  font-weight: bolder;
  font-size: 20px;
  color: beige;
  border-radius: 10px;
  background-color : blue;
  padding: 10px;
}

.Container-1{
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  margin-top: 16px;
  margin-right: 10px;
}
.desc{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-weight: bolder;
  font-size: 30px;
  height: 400px;
  color: red;
  font-family: 'Montserrat', sans-serif;
}
.box-1{
  width: 40%;
  text-align: center;
}
.heading{
  font-size: 40px;
  color:crimson;
  font-weight: bolder;
  font-family: 'Catamaran', sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

